<div class="mainContainer">
    <div class="navigation-Section">
        <div class="sitename"><a href="#">Bin Cui's blog</a></div>
        <div class="navlinks">
            <a href="#">Posts</a>
            <a href="#">About</a>
        </div>
    </div>
    
    <div class="sidebarPane">
        <img class="bio-photo" src="./app/assets/images/me.png" alt="">
        <div class="bio-details">
            <h3><a href="#">Bin Cui</a></h3>
        </div>
    </div>
    <div class="mainPane">

    </div>
    <div class="footerPane">footer</div>
</div>

